.vs/StoriesHelper/v16/.suo
StoriesHelper/Organization.cs
StoriesHelper/bin/Debug/StoriesHelper.exe
StoriesHelper/bin/Debug/StoriesHelper.pdb
StoriesHelper/obj/Debug/StoriesHelper.csproj.GenerateResource.cache
StoriesHelper/obj/Debug/StoriesHelper.exe
StoriesHelper/obj/Debug/StoriesHelper.pdb